@{
    ViewData["Title"] = "Leaderboard";
}

<div>
    <h1 class="marginFive">Leaderboard</h1>
    <p class="marginFive">This is temporarily some placeholder content for the leaderboard page for Ranker.</p>
</div>
