@{
    ViewData["Title"] = "Home";
}

<div class="centerText">
    <h1 class="marginFive">Ranker</h1>
    <p class="marginFive">Ranker is a ranking Discord bot powered by .NET 5, ASP.NET Core, and DSharpPlus.</p>
</div>
