@{
    ViewData["Title"] = "Error";
}

<div class="centerText">
    <h1 class="marginFive">Error @Context.Request.Query["code"]</h1>
    <p class="marginFive">Something went wrong loading this webpage. Check the URL or try again later.</p>
</div>
